/* my website */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --bubblepink: #ef3167;
  --wintergreen: #def1d0;
  --mint: #f8f6f5;
  --candyfloss: #f0f9f8;
}

body {
  background: var(--mint);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.2s linear;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background: var(--bubblepink);
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
}

.btn:hover {
  background: #ff8195;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  padding: 3rem 9%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  background-color: var(--bubblepink);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 3%;
}

.header .logo {
  font-size: 3rem;
  font-weight: bolder;
  color: var(--candyfloss);
}

.header .navbar a {
  font-size: 1.8rem;
  color: var(--candyfloss);
  margin: 0 1rem;
  padding: 0.9rem;
  border-radius: 30px;
}

.header .navbar a:hover {
  color: #222;
}

.header .icons div {
  font-size: 2.5rem;
  margin-left: 1.7rem;
  cursor: pointer;
  color: var(--candyfloss);
}

.header .icons div:hover {
  color: #222;
}

#menu-btn {
  display: none;
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
}

.home {
  padding-top: 12rem;
  position: relative;
}

.home .slides-container .slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  display: none;
}

.home .slides-container .slide.active {
  display: flex;
}

.home .slides-container .slide .content {
  flex: 1 1 40rem;
  animation: fadeLeft 0.4s linear 0.4s backwards;
}

.home .slides-container .slide .content span {
  color: #000;
  font-size: 3.5rem;
}

.home .slides-container .slide .content h3 {
  font-size: 6rem;
  color: #222;
  padding: 0.3rem 0;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.home .slides-container .slide .img {
  flex: 1 1 40rem;
  margin: 3rem 0;
}

.home .slides-container .slide .img img {
  width: 100%;
  animation: fadeUp 0.4s linear;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.7);
}
.home #next-slide,
.home #prev-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  background: var(--bubblepink);
  color: #fff;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
}
.home #next-slide:hover,
.home #prev-slide:hover {
  background: var(--bubblepink);
  color: #fff;
}
.home #prev-slide {
  left: 2rem;
}
.home #next-slide {
  right: 2rem;
}
/* banner container */

.banner-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}
.banner-container .banner {
  position: relative;
  height: 25rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  border: 0.1rem solid rgba(0, 0, 0, 0.7);
}
.banner-container .banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.banner-container .banner .content {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-20%);
}
.banner-container .banner .content span {
  background: linear-gradient(to right, #1c4668, #09263d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 2rem;
}
.banner-container .banner .content .banner3 {
  background: linear-gradient(to right, #f0f9f8, #ffe4e1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-container .banner .content h3 {
  font-size: 2rem;
  padding-top: 0.5rem;
  color: black;
}
.banner-container .banner .content .bannerh3 {
  color: #f0f9f8;
}
.banner-container .banner .content .btn {
  padding: 0.4rem 2rem;
}

.banner-container .banner:hover img {
  transform: scale(1.2);
}
.heading {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 2.5rem;
  padding: 8rem 0;
  border-bottom: 0.1rem solid black;
}
.heading h1 {
  color: #000000;
  font-size: 4rem;
}
/* flavour section */
.title {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  padding: 1.5rem 0;
  border-bottom: 0.1rem solid black;
  margin-bottom: 3rem;
}
.title span {
  color: #222;
  padding-left: 0.7rem;
}
.title a {
  margin-left: auto;
  color: #222;
  font-size: 1.5rem;
}

.flavour .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
  padding: 4rem 0;
}
.flavour .box-container .box {
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  background-color: var(--candyfloss);
}
.flavour .box-container .box img {
  height: 20rem;
  width: 25rem;
  object-fit: cover;
}
.flavour .box-container .box h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #222;
  text-align: center;
}
.flavour .box-container .box:hover h3 {
  font-size: 1.8rem;
}

/* product section */
.products .box-container {
  /* display: -ms-grid; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 1.5rem;
}
.products .box-container .box {
  position: relative;
  background: var(--candyfloss);
  text-align: center;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  border: 0.1rem solid rgba(0, 0, 0, 0.7);
}

.products .box-container .box .img {
  height: 30rem;
  width: auto;
  overflow: hidden;
}
.products .box-container .box .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.products .box-container .box .content {
  padding: 0.7rem;
}

.products .box-container .box .content h3 {
  font-size: 2rem;
  color: #222;
}

.products .box-container .box .content .price {
  font-size: 2rem;
  color: #222;
  padding: 0.4rem 0;
}
.products .box-container .box:hover .icons {
  top: 0;
}

.products .box-container .box .icons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: rgba(243, 243, 243, 0.8);
  gap: 1rem;
  height: 30rem;
  width: 100%;
  left: 0;
  right: 0;
  top: -115%;
}
.products .box-container .box .icons a {
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  color: #666;
}
.products .box-container .box .icons a:hover {
  font-size: 2.8rem;
  background-color: var(--bubblepink);
  color: white;
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.about .img {
  flex: 1 1 40rem;
}
.about .img img {
  width: 100%;
  height: 100%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  border: 0.1rem solid rgba(0, 0, 0, 0.7);
}
.about .content {
  flex: 1 1 40rem;
}

.about .content h3 {
  color: #222;
  font-size: 3.5rem;
  padding-top: 0.6rem;
  margin-bottom: 2rem;
  text-align: center;
}
.about .r {
  color: #8338ec;
}
.about .a {
  color: #00bbf9;
}
.about .s {
  color: #00f5d4;
}
.about .i {
  color: #04e762;
}
.about .l {
  color: #fee440;
}
.about .l2 {
  color: #fb5607;
}
.about .a2 {
  color: red;
}

.about .content p {
  color: #222;
  font-size: 18px;
  line-height: 2;
  padding: 1rem 0;
  font-weight: 400;
}
@media screen and (max-width:768px){
    .about .content p{
        font-size: 14px;
        line-height: 1;
    }
    .about .content h3{
        font-size: 2rem;
    }
}
.container {
  border-radius: 12px;
  height: auto;
}
.container h2 {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
.contact {
  padding: 2rem 1rem;
  background-color: var(--mint);
}

.contact h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #333;
}

.contact-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.contact-form,
.contact-info {
  background-color: #fdd5c8;
  border-radius: 13px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form h3,
.contact-info h3 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #333;
}

.contact-form .form-group {
  margin-bottom: 1.2rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 16px;
  font-size: 1rem;
}

.contact-form textarea {
  resize: none;
  height: 120px;
}

.contact-form .btn {
  display: block;
  width: 100%;
  padding: 0.8rem;
  background-color: var(--bubblepink);
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form .btn:hover {
  background-color: #ff8195;
}

@media screen and (max-width: 768px) {
  .contact h2 {
    font-size: 2rem;
  }

  .contact-form h3,
  .contact-info h3 {
    font-size: 1.5rem;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 0.9rem;
  }

  .contact-info p {
    font-size: 1rem;
  }

  .contact-info i {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 480px) {
  .contact h2 {
    font-size: 1.8rem;
  }

  .contact-form input,
  .contact-form textarea {
    padding: 0.6rem;
  }

  .contact-form .btn {
    font-size: 1rem;
  }

  .contact-info p {
    font-size: 0.9rem;
  }

  .contact-info i {
    font-size: 1rem;
  }
}
.contact-info {
  background-color: #fff;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contact-info h3 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1rem;
}

.sub-contact {
  margin-bottom: 1.5rem;
}

.sub-contact p {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 18px;
  color: #555;
  margin: 0.5rem 0;
}

.sub-contact i {
  margin-right: 8px;
  font-size: 1.8rem;
  color: #ff7043;
  margin: 0.8rem;
}

.map iframe {
  width: 100%;
  height: 300px;
  border-radius: 12px;
  border: 0;
}

@media screen and (max-width: 768px) {
  .contact-info {
    padding: 1rem;
  }

  .contact-info h3 {
    font-size: 1.5rem;
  }

  .sub-contact p {
    font-size: 1rem;
  }

  .sub-contact i {
    font-size: 1.2rem;
  }

  .map iframe {
    height: 250px;
  }
}

@media screen and (max-width: 480px) {
  .contact-info h3 {
    font-size: 1.2rem;
  }

  .sub-contact p {
    font-size: 0.9rem;
  }

  .sub-contact i {
    font-size: 1rem;
  }

  .map iframe {
    height: 200px;
  }
}

.footer {
  background-color: #20263e;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  color: #fff;
  padding-bottom: 0.5rem;
}

.footer .box-container .box a {
  font-size: 1.4rem;
  color: #fff;
  padding: 1rem 0;
  display: block;
}

.footer .box-container .box a:hover {
  color: var(--mint);
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: #fff;
}
.footer .box-container .box input {
  padding: 0.6rem;
}

.credit {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 0.6rem;
  margin-top: 3.5rem;
  color: #fff;
}

.credit span {
  font-weight: bold;
  font-size: 2.3rem;
  background: linear-gradient(to right, #ff1178, #f89928);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Hamburger Icon Styles */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.line {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 3px 0;
}
@media screen and (max-width: 900px) {
  .navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--bubblepink);
    border: 1px solid var(--bubblepink);
    z-index: 1000;
  }

  .navbar.active {
    display: flex;
  }

  .icons {
    display: none;
  }

  .navbar a {
    flex-direction: column;
    padding: 15px;
    text-decoration: none;
    color: #000;
  }

  .navbar a:hover {
    background-color: var(--bubblepink);
    color: #000;
  }

  .hamburger {
    display: flex;
  }
}
